<div class="header-tools">Add Product:
  <button (click)="createProduct()">
    <app-svg type="add" size="small" />
  </button>
</div>
<table>
  <tr>
    <th>ID</th>
    <th>SKU</th>
    <th>Name</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  @for(product of products$ | async; track product; let i = $index){
  <tr>
    <td>{{ product.id }}</td>
    <td>{{ product.sku }}</td>
    <td>{{ product.name }}</td>
    <td>${{ product.cost.toFixed(2) }}</td>
    <td><crud-tools [productId]="i" /></td>
  </tr>
  }
</table>