<div class="container">
    <h3>Product #{{product.id}}</h3>
    <div class="form-row">
        <label for="name">Name:</label>
        <input id="name" type="text" [(ngModel)]="product.name" />
    </div>
    <div class="form-row">
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="product.description" />
    </div>
    <h4>Details:</h4>
    <div class="form-row">
        <label for="cost">Cost:</label>
        <input id="cost" type="text" [(ngModel)]="product.cost" />
    </div>
    <div class="form-row">
        <label for="type">Type:</label>
        <select name="type" [(ngModel)]="product.profile.type">
            <option value="furniture">Furniture</option>
            <option value="equipment">Equipment</option>
            <option value="stationary">Stationary</option>
            <option value="part">Part</option>
        </select>
    </div>
    <div class="form-row">
        <label for="available">Available</label>
        <input id="available" type="checkbox" [(ngModel)]="product.profile.available" />
    </div>
    <div class="form-row">
        <label for="backlog">Backlog:</label>
        <input id="backlog" type="number" [(ngModel)]="product.profile.backlog" />
    </div>
    <div class="extra">
        <!-- @for for the other key value pairs -->
    </div>

    <button (click)="edit()">Edit</button>
    <button (click)="delete()">Delete</button>
    <button (click)="apply()">Apply</button>
</div>