<div class="container">
    @if(product.id > 0){
    <h2>Product #{{product.id}}</h2>
    } @else{
    <h2>New Product</h2>
    }

    <div class="form-row">
        <label for="name">Name:</label>
        <input id="name" [disabled]="locked" type="text" [(ngModel)]="product.name" />
    </div>
    <div class="form-row">
        <label for="description">Description:</label>

    </div>
    <textarea id="description" rows="15" cols="60" [disabled]="locked" [(ngModel)]="product.description"></textarea>
    <h3>Details:</h3>
    <div class="form-row">
        <label for="cost">Cost:</label>
        <input id="cost" [disabled]="locked" type="text" [(ngModel)]="product.cost" />
    </div>
    <div class="form-row">
        <label for="type">Type:</label>
        <select name="type" [disabled]="locked" [(ngModel)]="product.profile['type']">
            <option value="furniture" selected>Furniture</option>
            <option value="equipment">Equipment</option>
            <option value="stationary">Stationary</option>
            <option value="part">Part</option>
        </select>
    </div>
    <div class="form-row">
        <label for="available">Available</label>
        <input id="available" [disabled]="locked" type="checkbox" [(ngModel)]="product.profile['available']" />
    </div>
    <div class="form-row">
        <label for="backlog">Backlog:</label>
        <input id="backlog" [disabled]="locked" type="number" [(ngModel)]="product.profile['backlog']" />
    </div>
    <div class="extra">
        <!-- @for for the other key value pairs -->
    </div>

    <div class="button-belt">
        @if(locked){
        <button class="edit" (click)="toogleEdit()">Edit</button>
        }
        <button [disabled]="locked" (click)="apply()">Apply</button>
        <button class="delete" (click)="delete()">Delete</button>
    </div>
</div>