/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #60657e;
  --secondary: #83a2ff;
  --accent: #ce5b9a;
  --body: #fff;
  --text-menu: #fff;
  --text-body: #000;
}

.dark-theme {
  --primary: #172047;
  --secondary: #134ffe;
  --accent: #d20072;
  --body: #434343;
  --text-body: #fff;
}

body {
  background-color: var(--body);
  color: var(--text-body);
  transition: 0.5s;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(97, 97, 97, 0.5);
  padding: 20px;
  border-radius: 10px;
}
